body 
{
  background: black;
}

.container
{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .wrapper
{
  height: 500px;
  background-color: black;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: top;
  border-radius: 10px;
  padding: 50px;
  flex-direction: column;
  min-width: 400px;
  gap: 40px;
  box-shadow: 0px 0px 20px 2px lightgreen;
  overflow: hidden;
}

.container .wrapper .search_box
{
  background: black;
  border: 2px solid green;
  border-radius: 20px;
}
.container .wrapper .search_box input
{
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.container .wrapper .search_box button 
{
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-left: 2px solid green;
  color: green;
}
.container .wrapper .task
{
  width:100%;
  background-color: black;
  border: 2px solid green;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  width: 90%;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  
}

.container .wrapper .task button
{
  padding: 5px;
  background: black;
  cursor: pointer;
  border: none;
  outline: none;
  color: green;
}

.container .wrapper .tasks
{
  display: flex;
  align-items: center;
  justify-content: top;
  gap: 10px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}

.container .wrapper .tasks::-webkit-scrollbar
{
  background:black;
  width: 2px;
}

.container .wrapper .tasks::-webkit-scrollbar-thumb
{
  background-color: green;
  height: 10px;
}

.container .wrapper .task span
{
  display: inline-block;
  background-color: transparent;

}